<!DOCTYPE html>
<html>

<head>
  <title>📅 {{ printf "%02d" .Jour }}-{{ printf "%02d" .Mois }}-{{ .Annee }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/imgs/head.avif">
  <link href="/include/style.css" rel="stylesheet">
</head>

<body class="show">
    <table>
        <tbody>
            <tr>
              <td> <b> DATE:  </b> </td>
                <td> {{ printf "%02d" .Jour }}-{{ printf "%02d" .Mois }}-{{ .Annee }} </td>
            </tr>
            <tr>
              <td> <b> HEURE: </b> </td>
                <td> {{ .Heure }} </td>
            </tr>
            <tr>
              <td> <b> LIEU: </b> </td>
                <td>
                    {{ .Lieu }}
                    <br>
                    {{ .Adresse }}, {{ .Ville }} {{ .Pays }}
                </td>
            </tr>
            <tr>
              <td> <b> ENTRÉE: </b> </td>
                <td> {{ .Entree }} </td>
            </tr>
        </tbody>
    </table>

    {{ .Commentaire }}

    <br>

    {{ if .Prevente }}
    <a class="blue_link" href="{{ .Prevente }}">préventes</a>
    <br>
    {{ end }}

    <!-- affiche -->
    <img class="show_image" src="{{ .Affiche }}">

    <br>

    {{ if .SetList }}
    <table>
        <tbody>
        <tr style = "border: 1px solid" >
            <td class="center_horizontal"><b>SETLIST</b></td>
        </tr>
        {{ range .SetList }}
        <tr>
          <td> {{ . }} </td>
        </tr>
        {{ end }}
    </tbody>
    </table>
    {{ end }}

    <p>
    ---------------------
    <br>
    <a href="/shows-list">← retour aux concerts</a>
    </p>
</body>
</html>
