<!DOCTYPE html>
<html>

<head>
  <title>📅</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/imgs/head.avif">
  <link href="/include/style.css" rel="stylesheet">
</head>

<body class="shows_list">

    <div class="center">
        <a href="/index">
          <img src="/imgs/logo_spagz.svg" class="logo">
        </a>
        <table>
          <thead style="background-color: #36a65b; text-align: center;">
            <tr>
                <td colspan="3"><b>à venir</b></td>
            </tr>
          </thead>
          <tbody>
            {{ range .ShowsUpcoming }}
            <tr>
              <td>{{ printf "%02d" .Date.Jour }}-{{ printf "%02d" .Date.Mois }}-{{ .Date.Annee }}</td>
              <td><a class="blue_link" href="/shows/{{ printf "%02d" .Date.Jour }}{{ printf "%02d" .Date.Mois }}{{ .Date.Annee }}">{{ .Lieu }}</a></td>
              <td>{{ .Ville }}</td>
            </tr>
          {{ end }}
          </tbody>
          <thead style="background-color:#eb4d4b; text-align: center;">
            <tr>
                <td colspan=3><b>passés</b></td>
            </tr>
          </thead>
          <tbody>
              {{ range .ShowsPassed }}
                <tr>
                  <td>{{ printf "%02d" .Date.Jour }}-{{ printf "%02d" .Date.Mois }}-{{ .Date.Annee }}</td>
                  <td><a class="blue_link" href="/shows/{{ printf "%02d" .Date.Jour }}{{ printf "%02d" .Date.Mois }}{{ .Date.Annee }}">{{ .Lieu }}</a></td>
                  <td>{{ .Ville }}</td>
                </tr>
              {{ end }}
          </tbody>
        </table>
    </div>


</body>
</html>
