body {
  background-color: #f9da6a;
  font-family: monospace;
  font-size: 175%;
}

/* Styling links ------------------------------------------------------------ */

a:link, a:visited {
  color: #3c00ff;
  text-decoration: none;
}

a:hover, a:visited:hover {
  color: #3c00ff;
  text-decoration: underline;
}

.a1 {
  font-size: calc(2em + 10px);
}

.a1 a:link, .a1 a:visited {
  color:black;
  text-decoration: none;
}

.a1 a:hover, .a1 a:visited:hover {
  color: #f9da6a;
  background-color: black;
}

/* Tables ------------------------------------------------------------------- */

.shows_list table, .shows_list td, .shows_list th {
  vertical-align: top;
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px;
}

.shows_list table {
  margin-top: 2%;
}

.shows_list tbody tr:nth-of-type(odd){
  background-color: #F8D34F;
}

/* Mostly logo stuff -------------------------------------------------------- */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  flex-direction: column;
}

.center_horizontal {
  text-align: center;
  vertical-align: middle;
}

.logo {
  width: 30vw;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.links li {
  display: inline-block;
  width: 5vw;
}

.small_width {
  width: 100%;
}

/* Livret ------------------------------------------------------------------- */

.livret {
  text-align: center;
}

.livret img {
  width: 50vw;
  margin-top: 1% ;
}

/* Mobile ------------------------------------------------------------------- */

@media screen and (max-width:1100px) {

  body {
    font-size: 150%;
  }

  .logo {
    width: 75vw;
  }

  .links li {
    display: inline-block;
    width: 12vw;
  }

  .livret img {
    width: 90%;
  }
}

/* Show --------------------------------------------------------------------- */

.show img {
  display: block;
  max-width:90vw;
}

@media only screen and (min-width: 768px) {
  .show body { width: 50%;}
  .show img  { max-width:50vw; }
}

.show table {
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px;
}

.show td {
  padding: 2px;
  vertical-align: top;
}

